<div class="modal-overlay"></div>
<div class="modal-wrap">
  <div class="modal-content-wrap">

    <form class="form" name="editTradeRecordForm" [formGroup]="editTradeRecordForm" (ngSubmit)="submitEditForm()" >

      <div class="title-wrap">
        <h3 class="text-3xl font-semibold">
          Edit Trade
        </h3>
      </div>

      <div class="py-6">
        <div class="form-content">
          <div>
            <label for="asset">asset</label>
            <input type="text" formControlName="asset">
          </div>
          <div>
            <label for="orderId">order id</label>
            <input type="text" formControlName="orderId" >
          </div>
          <div>
            <label for="date">date</label>
            <input type="text" formControlName="date">
          </div>

          <div>
            <label for="side">side</label>
            <input type="text" formControlName="side">
          </div>
          <span class="error" 
            *ngIf="editTradeRecordForm.get('side')?.hasError('invalidSide') &&
            editTradeRecordForm.get('side')?.touched">
            Value must be "buy" or "sell".
          </span>
          <div>
            <label for="unitPrice">unit price</label>
            <input type="text" formControlName="unitPrice">
          </div>
          <span class="error" 
            *ngIf="editTradeRecordForm.get('unitPrice')?.hasError('invalidNumber') &&
            editTradeRecordForm.get('unitPrice')?.touched">
            Value must be a number.
          </span>
          <div>
            <label for="qty">qty</label>
            <input type="text" formControlName="qty">
          </div>
          <span class="error" 
            *ngIf="editTradeRecordForm.get('qty')?.hasError('invalidNumber') &&
            editTradeRecordForm.get('qty')?.touched">
            Value must be a number.
          </span>
          <div>
            <label for="amountPaid">amount paid</label>
            <input type="text" formControlName="amountPaid">
          </div>
          <span class="error" 
            *ngIf="editTradeRecordForm.get('amountPaid')?.hasError('invalidNumber') &&
            editTradeRecordForm.get('amountPaid')?.touched">
            Value must be a number.
          </span>
          <div>
            <label for="fee">fee</label>
            <input type="text" formControlName="fee">
          </div>
          <span class="error" 
            *ngIf="editTradeRecordForm.get('fee')?.hasError('invalidNumber') &&
            editTradeRecordForm.get('fee')?.touched">
            Value must be a number.
          </span>
          <div>
            <label for="currencyPair">currency pair</label>
            <input type="text" formControlName="currencyPair">
          </div>
           
        </div>
      </div>

      <div class="btn-wrap">
        <button class="btn-cancel" type="button" (click)="cancelEdit()">
          cancel edit
        </button>
        <button 
          [disabled]="editTradeRecordForm.invalid && editTradeRecordForm.touched" 
          [ngClass]="editTradeRecordForm.invalid ? 'btn-disabled' : 'btn-enabled'" 
          type="submit">
          submit edit
        </button>
      </div>

    </form>
  </div>
</div>