<section>
  <div class="top-asset-wrap" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <app-asset-card cdkDrag
      *ngFor="let topAsset of topAssets$ | async"
      [asset]="topAsset" 
      ></app-asset-card>
  </div>

  <hr />

  <!-- search / asset lookup  -->
  <div class="search-filter-wrap">
    <input type="text" />
    <button >filter</button>
  </div>

  <!-- table or details of asset -->
  <div class="table-wrap">
    <app-asset-table
      [assets$]="assets$"
    ></app-asset-table>
  </div>

</section>