<nav class="inline-flex items-center justify-between px-8 py-4 bg-white w-screen outline shadow-sm">
  <div class="inline-flex items-center gap-4">
    <img class=" rounded size"
         width="80"
         alt="Angular Logo"
         src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <h3 class="text-[#4B4664] uppercase font-extrabold italic text-4xl">{{ title }}</h3>
  </div>
  <ul class="inline-flex items-center gap-x-10">
    <li class="py-2 px-8 text-white my-4 bg-[#9DACC6] uppercase rounded shadow-md" (click)="toggleLogin()">Login</li>
    <li class="py-2 px-8 text-white my-4 bg-[#DEB465] uppercase rounded shadow-md" (click)="toggleSignup()">Signup</li>
  </ul>
</nav>

<div *ngIf="showLogin" class="fixed inset-0 z-50 justify-center items-center flex">
  <div class="relative w-2/4 min-h-3/6 bg-[#F9FBFB] mx-auto max-w-3xl">
    <!--content-->
    <form [formGroup]="loginForm" (ngSubmit)="login()"
          class="uppercase border-0 rounded-lg py-2 px-4 mx-4 flex flex-col w-full h-full gap-4 bg-[#FBF9F9]">
      <p class="text-[#DEB465] text-5xl font-bold py-4">LOGIN</p>
      <label for="username">username</label>
      <input class="bg-transparent border-b-2 outline-none focus:outline-none text-2xl" formControlName="username" type="text"
              name="username">
      <label for="password">password</label>
      <input class="bg-transparent border-b-2 outline-none focus:outline-none text-2xl" formControlName="password"
              type="password" name="password">
      <button class="py-4 my-4 text-white text-2xl uppercase bg-[#DEB465] hover:bg-[#9DACC6] hover:duration-150"
              type="submit">Submit</button>
    </form>
  </div>
</div>
  
<div *ngIf="showLogin" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
  

<div *ngIf="showSignup" class="fixed inset-0 z-50 justify-center items-center flex">
  <div class="relative w-2/4 min-h-3/6 bg-[#F9FBFB] mx-auto max-w-3xl">
    <!--content-->
    <form [formGroup]="signupForm" (ngSubmit)="signup()"
          class="uppercase border-0 rounded-lg py-2 px-4 mx-4 flex flex-col w-full h-full gap-4 bg-[#FBF9F9]">
      <p class="text-[#DEB465] text-5xl font-bold py-4">{{ modalTitle | uppercase }}</p>
      <label for="username">username</label>
      <input class="bg-transparent border-b-2 outline-none focus:outline-none text-2xl" formControlName="username" type="text"
             name="username">
      <label for="password">password</label>
      <input class="bg-transparent border-b-2 outline-none focus:outline-none text-2xl" formControlName="password"
             type="password" name="password">
      <label for="confirmPassword">confirm password</label>
      <input class="bg-transparent border-b-2 outline-none focus:outline-none text-2xl" formControlName="confirmPassword"
             type="password" name="confirmPassword">
      <button class="py-4 my-4 text-white text-2xl uppercase bg-[#DEB465] hover:bg-[#9DACC6] hover:duration-150"
              type="submit">Submit</button>
    </form>
  </div>
</div>
<div *ngIf="showSignup" class="opacity-25 fixed inset-0 z-40 bg-black"></div>