<div class="table-wrap">
  <table class="">
    <caption>trade records </caption>
    <thead>
      <tr>
        <th *ngFor="let field of filteredHeaderFields$ | async; index as i ">{{field}}</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of filteredTradeRecords$ | async; index as i">
        <td *ngFor="let value of record | formatRecords">
          {{ value }}
        </td>
        <td >
          <button>edit</button>
          <button>del</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [attr.colspan]="tradeService.headerFields.value.length+1">
          page <span>1</span> of <span>1</span>
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="preview-btn-wrap">
    <button>save records</button>
  </div>

</div>