
<div class="relative w-full overflow-hidden">
  <div *ngIf="fileChange"
    [ngClass]="displayAsRow ? 'row-wrap' : 'w-full flex-1' ">
    
    <!-- assignable columns -->
    <div (cdkDropListDropped)="onDrop($event)" cdkDropList class="data-col-wrap">
      <div class="title-wrap">
        <h3>column options</h3>
      </div>
      <hr />

       <ng-container *ngIf="colCount$ | async as colCount">
        <label [for]="option" *ngFor="let option of colCount | colOption:orderedColOptions; index as i"
          class="assign-option"
          cdkDrag >
          <div [id]="option" class="flex w-full">
            <span class="text-left">{{i}}</span>
            <span class="text-right">{{option}}</span>
          </div>
        </label>
      </ng-container>

    </div>


    <!-- values from file -->
    <div class="data-col-wrap">

      <div class="title-wrap">
        <h3>values from file</h3>
      </div>
      <hr />

      <span *ngFor="let value of tradeRecords$ | async">{{value}}</span>
    </div>

    <!-- header fields from file -->
    <div class="data-col-wrap">

      <div class="title-wrap">
        <h3>header fields from file</h3>
      </div>
      <hr />

      <span *ngFor="let field of headerFields$ | async">{{field}}</span>
    </div>
  </div>

  <div *ngIf="fileChange" class="preview-btn-wrap flex-1">
    <button type="button" (click)="onColumnOrderChange()" >preview records</button>
  </div>
  
</div>

<!-- <div *ngIf="fileChange" class="preview-btn-wrap">
  <button type="button" (click)="onColumnOrderChange()" >preview records</button>
</div> -->
