<table class="w-full   border border-slate-300 rounded-md overflow-x-scroll">
  <caption>crypto assets</caption>
  <thead>
    <tr class="thead-row">
      <th>rank</th>
      <th>icon</th>
      <th>symbol</th>
      <th>name</th>
      <th>price</th>
      <th>market cap</th>
      <th>volume</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let asset of assets; index as i">
      <td>{{i+1}}</td>
      <td>
        <img [src]="asset.images[0]" alt="asset symbol">
      </td>
      <td>{{asset.symbol}}</td>
      <td>{{asset.name}}</td>
      <td>{{asset.currentPrice}}</td>
      <td>{{asset.marketCap}}</td>
      <td>{{asset.totalVolume}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr >
      <td colspan="7">
        <span >page</span> [ {{ 1 }} ] of [ {{ 1 }} ]
      </td>
    </tr>
  </tfoot>
</table>
