<ng-container>
  <!-- Section for table displaying trades -->
  <table>
    <caption >Trade results </caption>
    <thead >
      <tr>
        <th class="p-4">
          <div class="">
            <input id="checkbox-all" type="checkbox" class="">
          </div>
        </th>
        <!-- Generate the table column header row - quantity and amount will depend on dataset -->
        <th *ngFor="let column of headerRow;">
          {{ column.name }}
        </th>
        <th>
          Profit / Loss
        </th>
        <th >
          Action
        </th>
      </tr>
    </thead>
    <tbody >
      <ng-container *ngFor="let record of tradeRecords; index as idx">
        <tr>
          <td class="p-4">
            <div class="">
              <input id="checkbox-all" type="checkbox" class="">
            </div>
          </td>
          <td>{{ record.date }}</td>
          <td>{{ record.orderId }}</td>
          <td>{{ record.asset }}</td>
          <td>{{ record.side }}</td>
          <td>{{ record.unitPrice }}</td>
          <td>{{ record.qty }}</td>
          <td>{{ record.amountPaid }}</td>
          <td>{{ record.fee }}</td>
          <td>{{ record.currencyPair }}</td>

          <!-- for profit and loss pipe -->
          <td> {{ 0.00 }} </td>
          <td>
            <a href="#" type="button" 
              (click)="toggleEditModal(idx)" 
              class="table-trade-edit-btn">Edit</a>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tfoot >
      <tr>
        <td colspan="11">
          <span id=i class="column-error" >
            Column identifiers must be selected before submitting!
          </span>
          <button type="button">Submit</button>
        </td>
      </tr>
    </tfoot>
  </table>
</ng-container>

<!-- Section for table displaying trades -->
  <!-- <table class="table-trade">
    <thead class="table-trade-header">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input id="checkbox-all" type="checkbox" class="table-trade-checkbox">
          </div>
        </th>

        <th *ngFor="let i of tableColumnsPerRow.slice(0, 10);" scope="col" class="px-6 py-3">
          <label for="tradeColumnOption" class="table-trade-select-label">Column {{i}} identfier</label>
          <select id="tradeColumnOption"  class="table-trade-select">

            <option selected value=''>Choose an option</option>
            <ng-container *ngFor="let opt of tradeColumnHeader; index as i;"> 
              <option value={{i}}>{{ opt }}</option>
            </ng-container>
          </select>
        </th>

        <th scope="col" class="px-6 py-3">
          Profit / Loss
        </th>
        <th scope="col" class="px-6 py-3">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-[#F9FBFB] border-b-2 hover:bg-[#DEB465]">
        <td class="w-4 p-4">
          <div class="flex items-center">
            <input id="checkbox-table-1" type="checkbox" class="table-trade-checkbox">
          </div>
        </td>
        <td *ngFor="let val of tradeColumnValues; index as i;" class="table-trade-cell-data">
          {{val}}
        </td>
        <td class="px-6 py-1">
          <a href="#" type="button" (click)="toggleEditModal(0)" class="table-trade-edit-btn">Edit</a>
        </td>
      </tr>
     
    </tbody>
  </table>


  <nav class="table-trade-footer" >
    <span class="table-footer-text">Showing 1-3 of 100</span>
    <ul class="inline-flex items-center -space-x-px">
      <li>
        <a href="#" class="block px-3 py-2 ml-0 leading-tight text-[#9DACC6] bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">
          <span class="sr-only">Previous</span>
          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
          </svg>
        </a>
      </li>

      <li>
        <a href="#"
           class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">1</a>
      </li>
      <li>
        <a href="#"
           class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">2</a>
      </li>
      <li>
        <a href="#"
           class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">3</a>
      </li>
      <li>
        <a href="#"
           class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">...</a>
      </li>
      <li>
        <a href="#"
           class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">100</a>
      </li>
      <li>
        <a href="#"
           class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">
          <span class="sr-only">Next</span>
          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>


<div *ngIf="showModal"
     class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">


    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">

      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Modal Title
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                (click)="toggleEditModal(0)">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>


      <div class="relative p-6 flex-auto">
        <p class="my-4 text-slate-500 text-lg leading-relaxed">
          I always felt like I could do anything. That’s the main
          thing people are controlled by! Thoughts- their perception
          of themselves! They're slowed down by their perception of
          themselves. If you're taught you can’t do anything, you
          won’t do anything. I was taught I could do everything.
        </p>
      </div>


      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                type="button" (click)="toggleEditModal(0)">
          Close
        </button>
        <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                type="button" (click)="toggleEditModal(0)">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div> -->


<!-- Edit modal -->

<!-- </ng-container> -->